/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* @import "font-awesome-sprockets";
@import "font-awesome"; */

/* :root {
  --size-border: 2px solid var(--text-color);
  --box-border: 2px solid var(--shadow-color);
  --box-hover: 1px solid var(--primary-color);
  --bacground-color: #e5e5e5;
  --primary-color: #298cfc33;
  --btn-color: #5fb523;
  --secondary-color: #02428b;
  --text-color: #434b54;
  --bg-color: #0372ef42;
  --on-secondary: #fff;
  --shadow-color: #f1f1f2;
} */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
} */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* body {
  height: 100%;
  width: 100%;
  background-color: var(--bacground-color);
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
